/* USER-ITEM */
.sidebar{
  @apply sticky top-0 hidden flex-col 
  h-screen overflow-hidden
  border-r py-4 
  transition-all duration-150
  md:flex

  bg-blueNavy text-white
}

.menus{
  @apply grow
}

.sideContainer{
  @apply flex flex-col
  mb-4
}

.sideContainer a {
  @apply my-1
}

.sideContainer a div{
  @apply flex items-center
  py-2 transition-all pl-2
  hover:pl-4
}

.sideContainer a.active{
  @apply bg-lightBlue
}

.icons{
  @apply text-[20px]
}

.sidebarBtn{
  @apply flex items-center
  cursor-pointer px-2
}

/* NON-TAILWIND CLASS */

.open{
  width: 350px;
}

.closed{
  width: 60px;
}

.hidden{
  display: none;
  margin: 0;
}

